{% from "macros.html" import static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>#}
    <script src="{{ static('js/jquery.min.js') }}"></script>
    <script>
        $(function () {
            $("#btnAjax").click(function () {
                var xhr = new XMLHttpRequest();
                xhr.open('get', '/all_users_server/', true);
                xhr.onreadystatechange = function () {
                    if(xhr.status==200 && xhr.readyState==4){
                        var res = xhr.responseText;
                        users = res.split('|');
                        for (i = 0; i < users.length; i++){
                            console.log(users[i].split(','));
                        }

                    }
                };
                xhr.send(null);
            });
        });
    </script>
</head>
<body>
    <button id="btnAjax">请求数据</button>
</body>
</html>